body {
    background-color: black;
}

/* Partie Header */

/* header nav li a{
    width: 14%;
} */

nav{
    width: 100%;
}
.navitem{
    width: 80vw;
    justify-content:space-between;
}

header .navbar-nav .nav-item a.nav-link{
    background-color: black;
    margin: 0 2rem;
}

header nav.navbar a.navbar-brand>img{
    width:50px;
    height: auto;
}

#

footer {
    background-color: yellow;
}
